.container1 {
    margin-right: 5px;;
    margin-left: 5px;
    padding:10px;
}

#maintitle{
	font-size: 40px;
    font-family: sans-serif;
}

#subtitle{
	font-size: 20px;
    font-family: sans-serif;   
}

#navbar{
	text-align:right;
    font-size: 18px;
	font-family: sans-serif;  
	color:black; 
}

#video{
	padding:24px;
}

#demo{
	text-align:center;
    padding-top: 100px;
     height: 300px;

}

#profilePic {
    border-radius: 50%;
}

.container {
    padding: 5px;
    padding-bottom: 30px;
}

.paragraph{
    text-align:justify;
}