/* NOTE: Edit: Donut.scss, NOT Donut.css */
.fill_-3 {
  fill: #CC0000; }

.fill_-2 {
  fill: #D44C00; }

.fill_-1 {
  fill: #DC9800; }

.fill_0 {
  fill: #E5E500; }

.fill_1 {
  fill: #A1C708; }

.fill_2 {
  fill: #5DA910; }

.fill_3 {
  fill: #198C19; }

.color_-3 {
  color: #CC0000; }

.color_-2 {
  color: #D44C00; }

.color_-1 {
  color: #DC9800; }

.color_0 {
  color: #E5E500; }

.color_1 {
  color: #A1C708; }

.color_2 {
  color: #5DA910; }

.color_3 {
  color: #198C19; }

.hover-network .stroke_-3, .click-network .stroke_-3 {
  stroke: #CC0000; }

.hover-network .stroke_-2, .click-network .stroke_-2 {
  stroke: #D44C00; }

.hover-network .stroke_-1, .click-network .stroke_-1 {
  stroke: #DC9800; }

.hover-network .stroke_0, .click-network .stroke_0 {
  stroke: #E5E500; }

.hover-network .stroke_1, .click-network .stroke_1 {
  stroke: #A1C708; }

.hover-network .stroke_2, .click-network .stroke_2 {
  stroke: #5DA910; }

.hover-network .stroke_3, .click-network .stroke_3 {
  stroke: #198C19; }

.colorblind .fill_-3 {
  fill: #7F0000; }

.colorblind .fill_-2 {
  fill: #9C413B; }

.colorblind .fill_-1 {
  fill: #BA8376; }

.colorblind .fill_0 {
  fill: #D8C5B2; }

.colorblind .fill_1 {
  fill: #A79AB9; }

.colorblind .fill_2 {
  fill: #7670C0; }

.colorblind .fill_3 {
  fill: #4646C7; }

.colorblind .color_-3 {
  color: #7F0000; }

.colorblind .color_-2 {
  color: #9C413B; }

.colorblind .color_-1 {
  color: #BA8376; }

.colorblind .color_0 {
  color: #D8C5B2; }

.colorblind .color_1 {
  color: #A79AB9; }

.colorblind .color_2 {
  color: #7670C0; }

.colorblind .color_3 {
  color: #4646C7; }

.colorblind .hover-network .stroke_-3, .colorblind .click-network .stroke_-3 {
  stroke: #7F0000; }

.colorblind .hover-network .stroke_-2, .colorblind .click-network .stroke_-2 {
  stroke: #9C413B; }

.colorblind .hover-network .stroke_-1, .colorblind .click-network .stroke_-1 {
  stroke: #BA8376; }

.colorblind .hover-network .stroke_0, .colorblind .click-network .stroke_0 {
  stroke: #D8C5B2; }

.colorblind .hover-network .stroke_1, .colorblind .click-network .stroke_1 {
  stroke: #A79AB9; }

.colorblind .hover-network .stroke_2, .colorblind .click-network .stroke_2 {
  stroke: #7670C0; }

.colorblind .hover-network .stroke_3, .colorblind .click-network .stroke_3 {
  stroke: #4646C7; }

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  height: auto; }

.wrapper {
  display: flex;
  align-items: flex-start; }

.svg-container {
  flex-grow: 1;
  position: relative; }

.network:not(.click-network) .donuts .arc path, .network:not(.click-network) .donuts .arc text {
  fill-opacity: 0; }

.network:not(.click-network) .node {
  cursor: pointer; }

.donuts .arc.destroy path, .donuts .arc.destroy text {
  fill-opacity: 0; }

.hover-network:not(.click-network) .links .link:not(.hovered) {
  stroke-opacity: 0.02; }

.hover-network:not(.click-network) .node:not(.hovered) text, .hover-network:not(.click-network) .node:not(.hovered) circle {
  fill-opacity: 0.05; }

.click-network .links {
  stroke-opacity: 0; }

.click-network .node:not(.clicked) text, .click-network .node:not(.clicked) circle {
  fill-opacity: 0; }

.node circle, .node text, .link {
  transition: fill-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), fill 500ms cubic-bezier(0.23, 1, 0.32, 1), stroke-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1); }

.node.clicked {
  cursor: pointer; }
  .node.clicked text.node__name {
    fill: #fff !important; }

.donuts .arc path, .donuts .arc text {
  transition: fill-opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1), fill 1000ms cubic-bezier(0.23, 1, 0.32, 1); }

.link {
  stroke-width: 1px; }

/*
.link.weight_1 {
  stroke-width: 0.5px;
}

.link.weight_2 {
  stroke-width: 1px;
}

.link.weight_3 {
  stroke-width: 2px;
}

.link.weight_-1 {
  stroke-width: 0.5px;
}

.link.weight_-2 {
  stroke-width: 1px;
}
*/
.back-container {
  position: absolute;
  top: 450px;
  transform: translate(-500px, -50%);
  left: 50%;
  font-size: 5em;
  color: #ddd;
  opacity: 0;
  visibility: hidden;
  transition: color 1000ms cubic-bezier(0.23, 1, 0.32, 1), opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1), visibility 1000ms cubic-bezier(0.23, 1, 0.32, 1); }
  @media (max-width: 1380px) {
    .back-container {
      transform: translate(-425px, -50%); } }
  .back-container:hover {
    color: #ccc;
    cursor: pointer; }
  .back-container:active {
    color: #bbb; }
  .back-container.back-container--shown {
    opacity: 1;
    visibility: visible; }

.tooltip {
  background-color: #fff;
  font-size: 0.9em;
  padding: 7px 12px;
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  margin-top: -20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(-50%, -100%);
  text-align: left;
  visibility: hidden;
  opacity: 0; }
  .tooltip.tooltip--visible {
    opacity: 1;
    visibility: visible; }
  .tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; }
  .tooltip .tooltip__name-container {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px; }
  .tooltip .tooltip__name {
    font-weight: 600;
    margin-right: 5px; }
  .tooltip .tooltip__title {
    font-weight: 600; }
  .tooltip .tooltip__weight-container {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding-top: 5px; }
  .tooltip .tooltip__weight-label {
    margin-right: 5px; }
  .tooltip .tooltip__weight-value {
    font-weight: 600; }
