/* NOTE: Edit: Donut.scss, NOT Donut.css */

@import 'colors.scss';

.network:not(.click-network) {
  .donuts .arc {
    path, text {
      fill-opacity: 0;
    }
  }

  .node {
    cursor: pointer;
  }
}

.donuts .arc {
  &.destroy {
    path, text {
      fill-opacity: 0;
    }
  }
}

.hover-network:not(.click-network) {
  .links .link:not(.hovered) {
    stroke-opacity: 0.05;
  }

  .node:not(.hovered) text, .node:not(.hovered) circle{
    fill-opacity: 0.1;
  }
}

.click-network {
  .links {
    stroke-opacity: 0;
  }

  .node:not(.clicked) text, .node:not(.clicked) circle{
    fill-opacity: 0;
  }

  .overview {
    //display: none;
  }

}

.hover-network, .click-network {
  .link.weight_1 {
    stroke-width: 2px;
  }

  .link.weight_2 {
    stroke-width: 3px;
  }

  .link.weight_3 {
    stroke-width: 5px;
  }

  .link.weight_0 {
    stroke-width: 1px;
  }

  .link.weight_-1 {
    stroke-width: 2px;
  }

  .link.weight_-2 {
    stroke-width: 3px;
  }

  .link.weight_-3 {
    stroke-width: 5px;
  }
}

.node circle, .node text, .link {
  transition: fill-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), 
    stroke-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1),
    stroke-width 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.node.clicked {
  text {
    fill: #fff !important;
  }
}

.donuts .arc {
  path, text {
    transition: fill-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.link.weight_1 {
  stroke-width: 0.5px;
}

.link.weight_2 {
  stroke-width: 1px;
}

.link.weight_3 {
  stroke-width: 2px;
}

.link.weight_-1 {
  stroke-width: 0.5px;
}

.link.weight_-2 {
  stroke-width: 1px;
}



