.info {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0; }

.node {
  cursor: pointer; }

.hover-network:not(.click-network) .links .link:not(.hovered) {
  stroke-opacity: 0.05; }

.hover-network:not(.click-network) .node:not(.hovered) text, .hover-network:not(.click-network) .node:not(.hovered) circle {
  fill-opacity: 0.1; }

.click-network .links .link:not(.clicked) {
  stroke-opacity: 0.05; }

.click-network .node:not(.clicked) text, .click-network .node:not(.clicked) circle {
  fill-opacity: 0.1; }

.hover-network .link.weight_1, .click-network .link.weight_1 {
  stroke-width: 2px;
  stroke: #ccdd7f; }

.hover-network .link.weight_2, .click-network .link.weight_2 {
  stroke-width: 3px;
  stroke: #97cd7c; }

.hover-network .link.weight_3, .click-network .link.weight_3 {
  stroke-width: 5px;
  stroke: #66bc87; }

.hover-network .link.weight_-1, .click-network .link.weight_-1 {
  stroke-width: 2px;
  stroke: #f2a974; }

.hover-network .link.weight_-2, .click-network .link.weight_-2 {
  stroke-width: 3px;
  stroke: #f06869; }

.node circle, .node text, .link {
  transition: fill-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), stroke-opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), stroke-width 200ms cubic-bezier(0.23, 1, 0.32, 1); }

.link.weight_1 {
  stroke-width: 0.5px; }

.link.weight_2 {
  stroke-width: 1px; }

.link.weight_3 {
  stroke-width: 2px; }

.link.weight_-1 {
  stroke-width: 0.5px; }

.link.weight_-2 {
  stroke-width: 1px; }
